@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
  height: 100%;
  width: 100%;
  background-color: #171717;
  font-family: "Fira Sans", "Poppins", sans-serif;
  color: #d5d5d5;
}

.navbar {
  padding: 1px;
  background-color: #262621;
}
.container-fluid {
  align-content: center;
}
.navbar-nav li {
  padding-top: 5px;
  padding-bottom: 1px;
  padding-right: 25px;
  padding-left: 25px;
}
.navbar-nav li a {
  color: #d5d5d5 !important;
  font-weight: bolder;
}
.navbar li a:hover {
  font-weight: bolder;
  background-color: #868674;
}
.nav-link {
  font-size: 1.2em !important;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
  border-image-width: 1200px;
}
.carousel-caption {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  padding-bottom: 1rem;
}
.btn-primary {
  background-color: indianred;
  border: 1px solid #563d7c;
}
.btn-primary:hover {
  background-color: lightgreen;
  border: 1px solid maroon;
}
.jumbotron {
  padding: 1rem;
  border-radius: 0%;
  text-align: center;
  background-color: #262621;
}
.padding {
  padding-bottom: 2rem;
}

.paddingIntro h1 {
  font-style: italic;
}
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.fa-code {
  color: blue;
  font-size: 4rem;
  margin: 1rem;
}
.buttonss {
  width: 100%;
  margin-bottom: 2rem;
}
.gif {
  max-width: 100%;
}
.social a {
  font-size: 4.5rem;
  padding: 3rem;
}
footer {
  background-color: #3f3f3f;

  padding-top: 2rem;
}
hr {
  border-top: 5px solid #d5d5d5;
  width: 75%;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
}

/*---Media Queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}

.carousel-inner > .item > img {
  margin: fit-content;
  width: 0%;
  height: fit-content;

  aspect-ratio: unset;
}
/*--- Fixed Background Image --*/

/*--- Bootstrap Padding Fix --*/

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
