@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
html,
body {
  height: 100%;
  width: 100%;
  background-color: #171717;
  font-family: "Fira Sans", "Poppins", sans-serif;
  color: #ececec;
  font-style: normal;
  align-content: center;
  position: inherit;
}

#Academic li a {
  font-size: small;
}
#Worklist li a {
  font-size: small;
}

#icon {
  height: 100px;
  width: 100px;
  padding: 10px;
}
#iconContainer h4 {
  font-size: 100%;
  font-weight: bold;
}

.btn-primary {
  background-color: #4a84f1;
  border: 1px solid #0b59e9;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: rgb(226, 186, 184);
  border: 1px solid maroon;
}

.fa-code {
  color: blue;
  font-size: 4rem;
  margin: 1rem;
}
.buttonss {
  width: 100%;
  margin-bottom: 2rem;
}

.social a {
  font-size: 4.5rem;
  padding: 3rem;
}
footer {
  background-color: #3f3f3f;

  padding-top: 2rem;
}
hr {
  border-top: 5px solid #ececec;
  width: 75%;
}
hr.light {
  border-top: 1px solid #ececec;
  width: 75%;
}
/*----------------*/
/*Titulos*/
.H1Section {
  text-align: center;
  font-size: 250%;
  font-weight: bolder;
}
.ParrafoNormal {
  font-size: 125%;
  text-align: justify;
}
/*cards*/
.Card li {
  font-size: smaller;
  text-align: left;
}
.Card {
  border: 1px solid #6d6d6d;
}
.card-title {
  font-size: medium;
  font-weight: bold;
}
/*Carousel*/
.carousel-inner {
  height: 100%;
  width: 100%;
  margin: auto;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
  margin: auto;
}
.carousel-inner {
  height: 100%;
  width: 100%;
  align-content: stretch;
  margin: auto;
}
.carousel-inner > .item > img {
  margin: auto;
  width: 100%;
}
/*navbar*/
.navbar {
  padding: 1px;
  background-color: #313131;
  border-top: solid 0.5px #ececec;
  border-bottom: solid 0.5px #ececec;
}
.navbar-nav li {
  padding-top: 5px;
  padding-bottom: 1px;
  padding-right: 30px;
  padding-left: 30px;
}
.navbar-nav li a {
  color: #ececec !important;
  font-weight: bolder;
  text-align: center;
  font-size: 100% !important;
}

.navbar li a:hover {
  font-weight: bolder;
  background-color: #acacac;
  padding-top: 1px;
  padding-bottom: 2px;
}

/*banner*/
#Banner {
  height: 100%;
  width: 100%;
}

#Banner .carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
}

#Banner .carousel-caption h3 {
  font-size: 200%;
  font-weight: bolder;
  padding-bottom: 1rem;
}
#Banner .carousel-caption {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}
/*Jumbotron*/
.jumbotron {
  padding-top: 10px;
  padding-bottom: 8px;
  background-color: #313131;
  border-bottom: solid 0.5px #b6b6b6;
}
.jumbotron p {
  text-align: center;
  font-size: 100%;
  font-weight: bold;
}
/*Welcome*/
.welcome {
  width: 90%;
  margin: 0 auto;
  padding-top: 15px;
}

.welcome hr {
  border-top: 2px solid #b6b6b6;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}
/*---Media Queries --*/
@media (max-width: 992px) {
  #Banner .carousel-caption h1 {
    font-size: 400%;
    text-transform: uppercase;
  }
  #Banner .carousel-caption h3 {
    font-size: 140%;
    font-weight: bolder;
    padding-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  #Banner .carousel-caption h1 {
    font-size: 300%;
    text-transform: uppercase;
    text-align: center;
  }
  .jumbotron {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #313131;
    border-bottom: solid 0.6px #b6b6b6;
  }
  .jumbotron p {
    text-align: center;
    font-size: 90%;
    font-weight: bolder;
  }
}

/**xs*/
/ @media (max-width: 576px) {
  #Banner .carousel-caption h1 {
    font-size: 120%;
    text-transform: uppercase;
    font-weight: bold;
  }
  #Banner .carousel-caption h3 {
    font-size: 65%;
    font-weight: bolder;
    padding-bottom: 1rem;
  }
  .jumbotron {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #313131;
    border-bottom: solid 0.4px #b6b6b6;
  }
  .jumbotron p {
    text-align: center;
    font-size: 65%;
    font-weight: bolder;
    margin: auto;
  }
}

#SpaceDefender {
  height: 100%;
  width: 100%;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
